*.class
*.bak
# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#混淆文件
proguard/

#Android 文件
R.java
gen/
bin/

#eclipse
.settings/

#Mac
.DS_Store

.git/

EiasAndroid_/.git/
AndroidFramework_/.git/
EiasAndroid_/.gitignore
AndroidFramework_/.gitignore
EiasAndroid_/README.md
EiasAndroid_/Doc/
AndroidFramework_/README.md
AndroidFramework_/Doc/